---
import { getRecentUpdates } from '../lib/DendronCache'
import Layout from '../layouts/Layout.astro'
import NoteLink from '../components/NoteLink.astro'
import Timestamp from '../components/Timestamp.astro';
const recentUpdates = getRecentUpdates().slice(0, 4);
---

<Layout title="Please Hold">
	<main>
		<h1>Please Hold</h1>
		<h2>Recent Edits</h2>
		<ul>
			{recentUpdates.map((note) =>
				<li>
					<Timestamp epoch={note.data.updated} />:
					<NoteLink to={note.data.fname} />
				</li>
			)}
		</ul>
	</main>
</Layout>
