---
import Layout from '../layouts/Layout.astro'
import RecentEdits from '../components/RecentEdits.astro'
import * as rootNote from '../../../notes/root.md'

---

<Layout title={rootNote.frontmatter.title}>
	<h1>{rootNote.frontmatter.title}</h1>
	<RecentEdits />
	<rootNote.Content />
</Layout>
