---
import Layout from "../layouts/Layout.astro";
import NoteLink from "../components/NoteLink.astro";
---
<Layout title="Missing">
    <h1>There's nothing here yet</h1>
    <p>This is a placeholder for those times I create a link but don't have a note at the other end. If you got here for some other reason, I'm not sure what to tell you. Hello? Welcome? Sorry? Maybe check out <NoteLink to="root" />, which is the normal expected entry point.</p>
</Layout>