---
import { getNoteHref, getNoteTitle } from '../lib/DendronCache'

export interface Props {
    to: string;
}

const { to } = Astro.props
const linkTo = getNoteHref(to)
const title = getNoteTitle(to)
---
<a class="internal" href={linkTo}>{to}</a>