---
import { getRecentUpdates } from '../lib/DendronCache'
import NoteLink from '../components/NoteLink.astro'
import Timestamp from '../components/Timestamp.astro';

const recentUpdates = getRecentUpdates().slice(0, 4);
---
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Recent Edits</h4>
        <ul class="card-text">
            {recentUpdates.map((note) =>
                <li>
                    <Timestamp epoch={note.data.updated} />:
                    <NoteLink to={note.data.fname} />
                </li>
            )}
        </ul>
    </div>
</div>