<footer>
    Written with <a href="https://www.dendron.so">Dendron</a> /
    Published with <a href="https://astro.build">Astro</a> /
    One of <a href="https://randomgeekery.org">Brian Wisti's</a> ideas

</footer>